{% extends 'order/base.html' %}

{% block static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/inicis.css' %}">
<script src="{% static 'js/inicis.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<script src="{% static 'js/card.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>
{% endblock %}

{% block content %}
<section class="first">
  <div class="container">
    <div class="row progress">
      <span class="four-sm u-center-align u-dim">
        <p>주소 등록</p>
      </span>
      <span class="four-sm u-center-align u-dim">
        <p>주문 정보</p>
      </span>
      <span class="four-sm u-center-align u-underline">
        <p>카드 등록</p>
      </span>
    </div>
    <div id="card-info" class="row u-center-align padding">
      <h5 class="mt-20">카드를 등록하면 주문이 완료됩니다</h5>
      <p>결제는 세탁물 수거 후 이루어집니다</p>
      <p>* 모든 개인 정보는 안전하게 처리하고 있습니다</p>
    </div>
    <div id="card-list">
      <div class="row">
        <div class="twelve columns u-underline mb-10">
          <p class="mb-10">사용 가능한 카드</p>
        </div>
      </div>
    </div>
    <div id="frame-top" class="row mt-20">
      <div class="twelve columns u-underline mb-10">
        <p class="mb-10">새로운 카드 등록</p>
      </div>
    </div>
    </div>
    <div class="container twelve-sm">
      <iframe id="frame" style="border:1px solid;width:100%;height:600px;margin:5px 0 15px 0;position:relative">
        <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
      </iframe>
    </div>
    <input type="hidden" name="order-code" value="{{ order_code }}">
  </div>
</section>
{% endblock %}
