{% extends 'order/base.html' %}

{% block static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}
{% block content %}

<section class="first">
  <div class="container">
    <div class="row u-center-align mt-40">
      <h3>모바일로 전송된 링크로 결제를 완료하셔야 주문이 완료됩니다</h3>
      <p>주문 완료까지 한 단계가 남았습니다</p>
    </div>
    <div class="order-info eight columns offset-by-two">
      <div class="row">
        <p><strong>수거일</strong> : {{user.collection_date}} {{user.collection_time}}</p>
        <p><strong>배달일</strong> : {{user.delivery_date}} {{user.delivery_time}}</p>
        <p><strong>주소</strong> : {{user.address}}</p>
        <p><strong>전화번호</strong> : {{user.phone}}</p>
        <p><strong>유의사항</strong> : {{user.notices}}</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
