{% extends 'order/base.html' %}

{% block static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<script src="{% static 'js/moment.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>
<script src="{% static 'js/order_complete.js' %}"></script>
{% endblock %}
{% block content %}

<section class="first">
  <div class="container">
    <div class="row u-center-align mt-20">
      <img class="medium" src="{% static 'img/order_complete_icon.png' %}">
      <h3>주문이 완료되었습니다</h3>
      <p id="collection-text">시에 방문합니다</p>
      <p class="hide" column="collection_date">{{user.collection_date}}</p>
      <p class="hide" column="collection_time">{{user.collection_time}}</p>
    </div>
    <div class="ten columns offset-by-one u-center-align">
      <div class="row mb-10">
        <p class="mb-10">가격이 어느정도일지 궁금하시다면?<label><strong id="pricing-btn">가격표 펼치기</strong></label></p>
        <label>가격은 재질 및 얼룩 상태에 따라 조금씩 변동될 수 있습니다</label>
      </div>
    </div>
    <div class="row hide mb-10" id="pricing">
      <div class="img twelve columns">
        <img src="{% static 'img/pricing.png' %}">
      </div>
    </div>
    <div class="order-info ten columns offset-by-one">
      <div class="row u-center-align">
        <p>방문시간 변경/취소는 1800-7098 또는 카카오톡 @크린플라이로 알려주세요</p>
      </div>
      <div class="row">
        <p><strong>수거일 </strong></p><p> : {{user.collection_date}} {{user.collection_time}}</p>
      </div>
      <div class="row">
        <p><strong>배달일 </strong><p> : {{user.delivery_date}} {{user.delivery_time}}</p>
      </div>
      <div class="row">
        <p><strong>전화번호 </strong><p> : {{user.phone}}</p>
      </div>
      <div class="row">
        <p><strong>주소 </strong><p> : {{user.address}}</p>
      </div>
      <div class="row">
        <p><strong>유의사항 </strong><p>: {{user.notices}}</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
