{% extends 'order/base.html' %}

{% block static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block content %}

<section class="first padding">
  <div class="container u-center-align">
    <div class="row">
      <h1>죄송합니다</h1>
      <h5>현재 고객님의 지역은 서비스 지역이 아닙니다</h5>
      <h5>지역 확장 시 알림을 보내드리겠습니다</h5>
    </div>
    <div class="row">
      <div class="six columns">
      </div>
    </div>
    <div class="row">
        <button class="button highlight">알림 신청하기</button>
    </div>
  </div>
</section>
{% endblock %}
