{% extends 'order/base.html' %}

{% block static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block content %}

<section class="first padding">
  <div class="container u-center-align">
    <div class="row">
      <h5>죄송합니다 크린플라이는 현재</h5>
      <h5>고객님의 지역에서 서비스를 하고 있지 않습니다</h5>
      <h5>빠른 시일 내에 서비스하도록 하겠습니다</h5>
      <p>현재 서비스 지역을 확장 알림을 보내드리고 있습니다</p>
    </div>
    <div class="row">
      <div class="six columns">
      </div>
    </div>
    <div class="row">
        <button class="button highlight">알림 신청하기</button>
    </div>
  </div>
</section>
{% endblock %}
