@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 58px;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

header a.logo {
  top : 10px;
  color: #25679e;
  font-size: 2.4rem;
  font-weight: 600;
}
header a {
  top : 17px;
  color: #25679e;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  margin-right: 20px;
}
header .logo {
  position: relative;
  top: 13px;
  height: 31px;
}
textarea {
  color : #1E1B18;
}

section {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 40px 0;
  min-height: 300px;
}

section.first {
  margin-top: 58px;
  min-height: 400px;
}

section.padding {
  padding : 100px 0;
}

footer {
  color : #F5F5F5;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 80px;
}

footer p {
  margin-bottom: 10px;
}

footer .logo {
  width: 100%;
  max-width: 150px;
}

button {
  font-weight: normal;
  font-size: 1.4rem;
}

button.focus {
  color : #25679e;
  border-color: #25679e;
}

p.foucs {
  color : #25679e;
}

.three-sm {
  display: inline-block;
  width: 24.1%;
}

.four-sm {
  display: inline-block;
  width: 32.5%;
}

@media (max-width: 550px) {
  .four-sm {
    display: inline-block;
    width: 31.5%;
  }

  .twelve-sm {
    display: inline-block;
    padding: 0;
    width: 100vw !important;
  }
}

.six-sm {
  display: inline-block;
  width: 48.5%;
}

.nine-sm {
  display: inline-block;
  width: 70.1%;
}

.filters p {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
