@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  width: 100%;
  height: 49px;
  top: 0;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #dedede;
}

header a.logo {
  top : 4px;
  color: #25679e;
  font-size: 2.5rem;
}
header a {
  top : 12px;
  color: #3e3e3e;
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: none;
}

section {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 45px 0;
  min-height: 300px;
}

section.first {
  margin-top: 48px;
}

button.focus {
  color : #25679e;
  border-color: #25679e;
}

.three-sm {
  width: 24.2%;
}

.four-sm {
  width: 32.5%;
}
