@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 49px;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: #25679e;
  border-bottom: 1px solid #25679e;
}

header a.logo {
  top : 4px;
  color: #fff;
  font-size: 2.5rem;
}
header a {
  top : 12px;
  color: #dfdfdf;
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: none;
  margin-right: 20px;
}

section {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 45px 0;
  min-height: 300px;
}

section.first {
  margin-top: 48px;
}

button {
  font-weight: normal;
  font-size: 1.4rem;
}

button.focus {
  color : #25679e;
  border-color: #25679e;
}

p.foucs {
  color : #25679e;
}

.three-sm {
  display: inline-block;
  width: 24.1%;
}

.four-sm {
  display: inline-block;
  width: 32.5%;
}

.six-sm {
  display: inline-block;
  width: 49.5%;
}

.filters p {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}
