@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #25679e;
}

header a.logo {
  font-family: 'Noto Sans KR', sans-serif;
}

section {
  color : #FFFAFF;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  margin-bottom: 25px;
}

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

@media (min-width: 550px) {
  .container {
    width: 60%; }
}

.u-center-align {
  text-align: center;
}

.u-underline {
  display: inline-block;
  border-bottom: 1px solid #98DFAF;
}

.u-dim {
}

#form-container {
  margin-top: 30px;
}

form input, form select {
  color : #1E1B18;
}

#form-container p {
  margin-bottom: 5px;
}

#form-container label {
  font-weight: normal;
  font-size: 1.4rem;
  color : #e0e0e0;
}

button.highlight,
input.highlight[type="button"],
input.highlight[type="submit"]  {
  background-color: #98DFAF;
  font-size: 1.5rem;
  font-weight: normal;
  border-color: #98DFAF;
  color: #FFFAFF;
  height: 38px;
}

button.highlight:hover,
input.highlight[type="button"]:hover,
input.highlight[type="submit"]:hover,
button.highlight:focus,
input.highlight[type="submit"]:focus,
input.highlight[type="reset"]:focus,
input.highlight[type="button"]:focus {
  background-color: #17B890;
  border-color: #17B890;
  color: #FFFAFF;
  height: 38px;
}

@media (max-width: 550px) {
  button.highlight {
    padding : 0 10px;
  }
}

label > strong {
  color: #98DFAF !important;
}

#pricing-btn {
  cursor: pointer;
}

#form-container button {
  margin-top: 15px;
}

p.error {
  font-size : 1.2rem;
  color : #FF3838;
}

textarea.placeholder {
  color: #aaa;
}

div.img {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 400px;
}

div.img > img {
  width : 100%;
}

@media (max-width: 550px) {
  div.img {
    max-height: 300px;
  }
  div.img > img {
    width : 200%;
  }
}

.hide {
  display: none !important;
}

div.order-info {
  background-color: #FAFAFA;
  color: #1E1B18;
  border-radius: 3px;
  padding: 20px 20px 10px 20px;
}

.order-info p {
  margin-bottom: 10px;
}
