@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #25679e;
}

header a.logo {
  font-family: 'Noto Sans KR', sans-serif;
}

section {
  color : #FFFAFF;
  font-family: 'Nanum Gothic', sans-serif;
}

footer {
  color : #F5F5F5;
  font-family: 'Nanum Gothic', sans-serif;
}

footer p {
  margin-bottom: 10px;
}

footer .logo {
  width: 100%;
  max-width: 150px;
}

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

@media (min-width: 550px) {
  .container {
    width: 60%; }
}

.u-center-align {
  text-align: center;
}

.u-underline {
  display: inline-block;
  border-bottom: 1px solid #98DFAF;
}

.u-dim {
}

#form-container {
  margin-top: 30px;
}

#form-container input {
  color : #1E1B18;
}

#form-container p {
  margin-bottom: 5px;
}

#form-container label {
  font-weight: normal;
  font-size: 1.2rem;
  color : #e0e0e0;
}

button.highlight , input.highlight[type="button"] {
  background-color: #98DFAF;
  font-size: 1.5rem;
  font-weight: normal;
  border-color: #98DFAF;
  color: #FFFAFF;
  height: 38px;
}

#form-container button , #form-container input[type="button"] {
  background-color: #98DFAF;
  font-size: 1.5rem;
  font-weight: normal;
  border-color: #98DFAF;
  color: #FFFAFF;
  height: 38px;
}

#form-container button {
  margin-top: 15px;
}

p.error {
  font-size : 1.2rem;
  color : #FF3838;
}
